
<h2> <%= @question.title  %> </h2>
<%= link_to 'Edit Question', edit_question_path(@question)%>
<%= link_to 'Delete Question', question_path(@question), :method => :delete %>


<h4> Description:  <%= @question.description %></h4> <br>
<!-- post all answers given for that question  -->
<h5> Current Answers: </h5>
<% @answers.reverse.each do |a| %>
* <%= a.response %> <br>
<% end %> <br>




<h5> Answer Question <br>
  ------------------------ </h5>


  <%= form_for @question do |f| %>

  <% end %>


  <%= render "layouts/flash" %>

  <%= render "questions/form" %>

  <%= link_to 'Return to Questions', questions_path, class: "button", id: "ask-question-id" %>
